@use "./variables";
@use "./typography";
@use "./global";

.blogMain {
  background-color: variables.$ice;
  display: flex;
  justify-content: space-between;
}

section.blogPost {
  max-width: 1000px;
  background-color: variables.$white;
  // padding: 0 0 0 30px;
  .postWrapper {
    border-right: 10px solid variables.$brightYellow;
    border-bottom: 10px solid variables.$brightYellow;
    padding: 0 0 0 30px;
    .imgContainer {
      background-color: variables.$brightYellow;
      img {
        width: 100%;
        transform: translate(-30px, -30px);
      }
    }
    .textContainer {
      background-color: variables.$white;
      padding: 60px 60px 60px 180px;
      p {
        margin: 30px 0;
        &.dateAuthor {
          font-style: italic;
          span {
            font-weight: 700;
          }
        }
      }
    }
  } //end of postWrapper

  .allCommentsContainer {
    background-color: variables.$ice;
    padding: 60px 60px 60px 180px;

    h2 {
      margin: 60px 0;
    }

    .commentContainer {
      display: flex;
      .imgContainer {
        margin-right: 40px;
        width: 100px;
      }
      .textContainer {
        max-width: calc( 100% - ( 100px + 40px ) );
        margin-bottom: 60px;
      }
      .commentDate {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
      }
    }

  } // end of all comment container
}