@use "./variables";
@use "./typography";

//skip Link
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}


ul { 
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  min-width: 200px;
  white-space: normal;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

// background colour for the whole body
html {
  background-color: variables.$white;
}

@mixin buttonMixin {
  background-color: variables.$evergreen;
  padding: 15px 15px 8px;
  @include typography.buttonTypography;
  color: variables.$white;
  text-transform: uppercase;
  display: inline-block;
}

.underline {
  border-bottom: 4px solid variables.$brightYellow;
  height: 32px;
  pointer-events: none;
}