@use "./variables";
@use "./typography";


header {
  background-image: url("../sanctuary-helpers-final-images/header-home.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px 0;
  .flexList {
    display: flex;
    justify-content: flex-end;
    li {
      @include typography.navTypography;
      margin-right: 45px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  h1 {
    @include typography.h1Typography;
    max-width: 50%;
    margin: 60px 0 0 260px;
  }
}

header.contactHeader {
  background-image: url("../sanctuary-helpers-final-images/contact-image.jpg");
}
header.blogHeader {
  background-image: url("../sanctuary-helpers-final-images/blog-image.jpg");
}

header.blogHeader,
header.contactHeader {
  background-size: cover;
  height: 60vh;
  // padding: 60px 0;
  .navFlex {
    display: flex;
    justify-content: space-between;
  }
  h3{
    max-width: 300px;
  }
  h1 {
    margin: 154px 0 0;
  }
}
