@use "./variables";
@use "./typography";
@use "./global";


@media (max-width: 1350px) {
  .wrapper {
    width:80%;
  }
  header {
    h1 {
      margin-left: 15%;
    }
    .flexList {
      margin-right: 20px;
    }
    .imgContainer {
      max-width: 50%;
    }
  }
}

@media (max-width: 1350px) {
  header {
    h1 {
      font-size: 52px;
      line-height: 48px;
    }
  }
}