@use "./variables";
@use "./typography";
@use "./global";


@media (max-width: 1350px) {
  .wrapper {
    width:80%;
  }
  header {
    background-size: cover;
    background-position: right;
    h1 {
      margin-left: 10%;
      margin-top: 30px;
    }
    .flexList {
      margin-right: 20px;
      li {
        margin-right: 20px;
      }
    }
    .imgContainer {
      max-width: 50%;
    }
  }

  section.progAndLoc {
    .itemContainer {
      max-width: 45%;
      .imgContainer {
        height: max-content;
      }
    }
  }
  .blogMain {
    flex-direction: column;
    aside {
      margin-top: 60px;
      max-width: 1000px;
      display: flex;
      padding-left: 180px;
      .imgContainer {
        transform: translate(0, -15px);
      }
      .textContainer {
        padding: 30px 60px;
      }
    }
  }
}

//end of max-width 1350px

@media (max-width: 1200px) {
  header {
    h1 {
      font-size: 52px;
      line-height: 48px;
    }
  }
}
//end of max-width 1200px

@media (max-width: 1100px) {
  section.discovering {
    .textContainer {
      width: 50%;
    }
  }
  section.progAndLoc {
    .itemContainer {
      max-width: 45%;
    }
  }
}
//end of max-width 1100px

@media (max-width: 1000px) {
  .wrapper {
    width:90%;
  }
  h1 {
    margin-left: 5%;
    margin-top: 15px;
  }
}
//end of max-width 1000px

@media (max-width: 950px) {
  header{
    .button {
      display: block;
    }
    .flexList {
      display: none;
    }
    h1 {
      margin-left: 5%;
      margin-top: 0px;
    }
  }
}
//end of max-width 950px
@media (max-width: 850px) {
  section.special {
    .galleryFlex {
      li {
        width: 100%;
      }
    }
  }
  section.progAndLoc {
    flex-direction: column;
    .itemContainer{
      max-width: 100%;
      width: 100%;
      .imgContainer {
        width: 90%;
        background-color: #F8FB05;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
      .textContainer {
        max-width: 90%;
        margin: 0 auto;
        &.rightAlign {
          text-align: left;
        }
      }
      &.rightContainer {
        flex-direction: column;
        transform: translate(0px, -30px);
      }
    }
  }
  section.blogPost {
    .postWrapper {
      .textContainer {
        padding: 60px 0;
        max-width: 90%;
        margin: 0 auto;
      }
    }
    .allCommentsContainer {
      padding: 60px 5%;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  .blogMain {
    aside {
      padding: 0 5%;
      max-width: 100%;
      margin: 0 auto;
      .textContainer {
        padding-right: 0;
      }
    }
  }
}
//end of max-width 850px

@media (max-width: 700px) {
  section.discovering {
    .wrapperFlex {
      flex-direction: column-reverse;
    }
    .imgContainer {
      display: none;
      // width: 100%;
      // max-width: 100%;
      // img {
        //   width: 100%;
        // }
      }
      .textContainer {
        max-width: 100%;
        width: 100%;
      }
    }
    section.gallery {
      .goneOnMobile {
        display: none;
      }
      .galleryFlex {
        flex-direction: column;
        li {
          // max-width: calc( 50% - 30px);
          max-width: 100%;
          width: 100%;
          margin-bottom: 30px;
          &:last-of-type {
            margin-bottom: 0;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
  //end of max-width 700px
  
  @media (max-width: 595px) {
    .formContainer {
      .formImput {
        flex-basis: 100%;
      }
    }
  }
  //end of max-width 595px
  
  @media (max-width: 500px) {
    header {
      h1 {
        font-size: 40px;
        line-height: 41px;
        margin-bottom: 40px;
      }
    }
    section.blogPost {
      .allCommentsContainer {
        .commentContainer {
          flex-direction: column;
          .textContainer {
            max-width: 100%;
          }
        }
      }
    }
    .blogMain {
      aside {
        flex-direction: column;
      } 
    }
  }
  //end of max-width 500px
  
  @media (max-width: 400px) {
    header {
      h1 {
        font-size: 30px;
        line-height: 32px;
      }
    }
    .blogMain {
      aside {
        .textContainer {
          padding-left: 0;
        }
      } 
    }
  }
  //end of max-width 400px