@use "./variables";

@mixin h1Typography {
  font-family: variables.$headlineFont;
  font-weight: 400;
  line-height: 64px;
  font-size: 68px;
  text-transform: uppercase;
}

@mixin headingsTypography {   
  font-family: variables.$secondaryFont;
  font-weight: 400;
  line-height: 33px;
  font-size: 58px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

@mixin logoTypography {
  font-family: variables.$secondaryFont;
  font-weight: 400;
  line-height: 22px;
  font-size: 24px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

@mixin navTypography {
  font-family: variables.$tertFont;
  font-weight: 700;
  line-height: 29px;
  font-size: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

@mixin buttonTypography {
  font-family: variables.$secondaryFont;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 1px;
}

@mixin bodyTypography {
  font-family: variables.$tertFont;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 2px;
}

//font setup
html {
  font-size: 125%;
}

// remove some margins and list styles 
h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0
}

h1 {
  @include h1Typography;
}