html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -moz-appearance: textfield;
       appearance: textfield;
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  appearance: none;
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  appearance: button;
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  color: #151514;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  font-weight: 400;
  line-height: 64px;
  font-size: 68px;
  text-transform: uppercase;
}

h2 {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  line-height: 58px;
  font-size: 33px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  h2 {
    line-height: 38px;
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 28px;
    line-height: 28px;
  }
}

h3 {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  line-height: 22px;
  font-size: 24px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

p, li {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 2px;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  min-width: 200px;
  white-space: normal;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

html {
  background-color: #F5F5F5;
}

.underline {
  border-bottom: 4px solid #F8FB05;
  height: 32px;
  pointer-events: none;
}

header {
  background-image: url("../sanctuary-helpers-final-images/header-home.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px 0;
}
header .button {
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  border: none;
  background-color: #F5F5F5;
  border: 3px solid #F8FB05;
  display: none;
}
header .button p {
  font-size: 25px;
}
header .flexList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .flexList li {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 29px;
  font-size: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-right: 45px;
}
header .flexList li:last-of-type {
  margin-right: 0;
}
header h1 {
  font-family: "Kumar One Outline", cursive;
  font-weight: 400;
  line-height: 64px;
  font-size: 68px;
  text-transform: uppercase;
  max-width: 50%;
  margin: 60px 0 0 260px;
}

header.contactHeader {
  background-image: url("../sanctuary-helpers-final-images/contact-image.jpg");
}

header.blogHeader {
  background-image: url("../sanctuary-helpers-final-images/blog-image.jpg");
  background-position: center;
}

header.blogHeader,
header.contactHeader {
  background-size: cover;
  height: 60vh;
}
header.blogHeader .navFlex,
header.contactHeader .navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header.blogHeader h3,
header.contactHeader h3 {
  max-width: 300px;
}
header.blogHeader h1,
header.contactHeader h1 {
  margin: 154px 0 0;
}

section.discovering {
  margin-bottom: 80px;
}
section.discovering .wrapperFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.discovering .textContainer {
  width: 65%;
}
section.discovering .textContainer h2 {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  line-height: 58px;
  font-size: 33px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  section.discovering .textContainer h2 {
    line-height: 38px;
  }
}
@media (max-width: 500px) {
  section.discovering .textContainer h2 {
    font-size: 28px;
    line-height: 28px;
  }
}
section.discovering .textContainer p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 15px 0 20px;
}
section.discovering .textContainer a {
  background-color: #065635;
  padding: 15px 15px 8px;
  font-family: "Kumar One", cursive;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #F5F5F5;
  text-transform: uppercase;
  display: inline-block;
}
section.discovering .imgContainer {
  height: 35%;
  background-color: #F8FB05;
}
section.discovering .imgContainer img {
  -webkit-transform: translate(15px, -15px);
          transform: translate(15px, -15px);
}

section.gallery {
  background-color: #E0FDDF;
  padding: 60px 0;
}
section.gallery .galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.gallery .galleryFlex li {
  max-width: 31%;
}

section.special {
  padding: 60px 0 120px;
}
section.special .galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section.special .galleryFlex li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
section.special .textIconContainer {
  margin: 30px 0;
}
section.special .textIconContainer .iconContainer {
  margin-right: 15px;
}
section.special .textIconContainer p.icon {
  background-color: #F8FB05;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 15px;
  text-align: center;
}
section.special .textIconContainer p.icon .fa-solid {
  display: inline-block;
  margin-top: 12px;
  margin-left: 1px;
}
section.special .textIconContainer h2 {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  line-height: 58px;
  font-size: 33px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  section.special .textIconContainer h2 {
    line-height: 38px;
  }
}
@media (max-width: 500px) {
  section.special .textIconContainer h2 {
    font-size: 28px;
    line-height: 28px;
  }
}
section.special .textIconContainer p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 2px;
}

section.progAndLoc {
  background-color: #E0FDDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.progAndLoc .itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 40%;
}
section.progAndLoc .itemContainer.leftContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translate(0px, -60px);
          transform: translate(0px, -60px);
}
section.progAndLoc .itemContainer.rightContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-transform: translate(0px, 60px);
          transform: translate(0px, 60px);
}
section.progAndLoc .imgContainer {
  width: 100%;
  background-color: #F8FB05;
}
section.progAndLoc .leftContainer .imgContainer {
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
}
section.progAndLoc .leftContainer .imgContainer img {
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
}
section.progAndLoc .rightContainer .imgContainer {
  -webkit-transform: translate(-15px, 15px);
          transform: translate(-15px, 15px);
}
section.progAndLoc .rightContainer .imgContainer img {
  -webkit-transform: translate(15px, -15px);
          transform: translate(15px, -15px);
}
section.progAndLoc .textContainer {
  max-width: 75%;
  padding: 60px 0;
}
section.progAndLoc .textContainer h2 {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  line-height: 58px;
  font-size: 33px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  section.progAndLoc .textContainer h2 {
    line-height: 38px;
  }
}
@media (max-width: 500px) {
  section.progAndLoc .textContainer h2 {
    font-size: 28px;
    line-height: 28px;
  }
}
section.progAndLoc .textContainer p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 15px 0 20px;
}
section.progAndLoc .textContainer a {
  background-color: #065635;
  padding: 15px 15px 8px;
  font-family: "Kumar One", cursive;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #F5F5F5;
  text-transform: uppercase;
  display: inline-block;
}
section.progAndLoc .textContainer.rightAlign {
  text-align: right;
}

section.bannerStyle .imageContainer {
  width: 100%;
}
section.bannerStyle .imageContainer img {
  width: 100%;
}
section.bannerStyle .textContainer {
  margin: 160px 0;
  text-align: center;
}
section.bannerStyle .textContainer h2 {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  line-height: 58px;
  font-size: 33px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  section.bannerStyle .textContainer h2 {
    line-height: 38px;
  }
}
@media (max-width: 500px) {
  section.bannerStyle .textContainer h2 {
    font-size: 28px;
    line-height: 28px;
  }
}
section.bannerStyle .textContainer p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 15px 0 20px;
  text-align: left;
}
section.bannerStyle .textContainer a {
  background-color: #065635;
  padding: 15px 15px 8px;
  font-family: "Kumar One", cursive;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #F5F5F5;
  text-transform: uppercase;
  display: inline-block;
}

footer {
  background-color: #151514;
  padding: 10px 0;
}
footer p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: #F5F5F5;
}

.blogMain {
  background-color: #E0FDDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.blogPost {
  max-width: 1000px;
  background-color: #F5F5F5;
}
section.blogPost .postWrapper {
  border-right: 10px solid #F8FB05;
  border-bottom: 10px solid #F8FB05;
  padding: 0 0 0 30px;
}
section.blogPost .postWrapper .imgContainer {
  background-color: #F8FB05;
}
section.blogPost .postWrapper .imgContainer img {
  width: 100%;
  -webkit-transform: translate(-30px, -30px);
          transform: translate(-30px, -30px);
}
section.blogPost .postWrapper .textContainer {
  background-color: #F5F5F5;
  padding: 60px 60px 60px 180px;
}
section.blogPost .postWrapper .textContainer p {
  margin: 30px 0;
}
section.blogPost .postWrapper .textContainer p.dateAuthor {
  font-style: italic;
}
section.blogPost .postWrapper .textContainer p.dateAuthor span {
  font-weight: 700;
}
section.blogPost .allCommentsContainer {
  background-color: #E0FDDF;
  padding: 60px 60px 60px 180px;
}
section.blogPost .allCommentsContainer h2 {
  margin: 60px 0;
}
section.blogPost .allCommentsContainer .commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.blogPost .allCommentsContainer .commentContainer .imgContainer {
  margin-right: 40px;
  width: 100px;
}
section.blogPost .allCommentsContainer .commentContainer .textContainer {
  max-width: calc(100% - 140px);
  margin-bottom: 60px;
}
section.blogPost .allCommentsContainer .commentContainer .commentDate {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.formContainer input[type=text] {
  padding: 30px;
  border: 0;
  border-bottom: 2px solid #065635;
  background-color: #E0FDDF;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.formContainer input[type=text].textImput {
  border: 2px solid #065635;
  height: 200px;
  padding-top: 0;
}
.formContainer .formImput {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.formContainer .textImput,
.formContainer .button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.formContainer .button {
  background-color: #065635;
  padding: 15px 15px 8px;
  font-family: "Kumar One", cursive;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #F5F5F5;
  text-transform: uppercase;
  display: inline-block;
}

.contactMain input[type=text] {
  background-color: #F5F5F5;
}

aside {
  background-color: #F8FB05;
  max-width: 350px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 240px;
}
aside .imgContainer {
  -webkit-transform: translate(15px, -15px);
          transform: translate(15px, -15px);
}
aside .textContainer {
  margin: 15px 0;
  padding: 15px;
}
aside .textContainer h3 {
  margin: 40px 0 20px;
}
aside .textContainer h3:first-of-type {
  margin-top: 0;
}
aside .textContainer li {
  list-style: disc;
  margin-left: 20px;
}

.contactMain aside {
  background-color: #E0FDDF;
  margin-top: 120px;
}
.contactMain aside .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.contactMain aside .socialIcons .icon {
  color: #065635;
  margin-right: 20px;
}
.contactMain aside .socialIcons .icon:last-of-type {
  margin-right: 0;
}
.contactMain aside p:first-of-type {
  margin-bottom: 30px;
}

.contactMain {
  background-color: #E0FDDF;
  padding-bottom: 60px;
}
.contactMain .wrapperFlex {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactMain .backBox {
  background-color: #F8FB05;
  max-width: 900px;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}
.contactMain .formContainer {
  background-color: #F5F5F5;
  padding: 60px;
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
}

@media (max-width: 1350px) {
  .wrapper {
    width: 80%;
  }
  header {
    background-size: cover;
    background-position: right;
  }
  header h1 {
    margin-left: 10%;
    margin-top: 30px;
  }
  header .flexList {
    margin-right: 20px;
  }
  header .flexList li {
    margin-right: 20px;
  }
  header .imgContainer {
    max-width: 50%;
  }
  section.progAndLoc .itemContainer {
    max-width: 45%;
  }
  section.progAndLoc .itemContainer .imgContainer {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .blogMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogMain aside {
    margin-top: 60px;
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 180px;
  }
  .blogMain aside .imgContainer {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
  .blogMain aside .textContainer {
    padding: 30px 60px;
  }
  .contactMain .backBox {
    margin-right: 60px;
  }
}
@media (max-width: 1250px) {
  .contactMain .wrapperFlex {
    max-width: 90%;
    width: 100%;
  }
  .contactMain .backBox {
    margin-right: 30px;
  }
}
@media (max-width: 1200px) {
  header h1 {
    font-size: 52px;
    line-height: 48px;
  }
}
@media (max-width: 1100px) {
  section.discovering .textContainer {
    width: 50%;
  }
  section.progAndLoc .itemContainer {
    max-width: 45%;
  }
  .contactMain .wrapperFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactMain aside {
    margin-top: 0;
  }
}
@media (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }
  h1 {
    margin-left: 5%;
    margin-top: 15px;
  }
}
@media (max-width: 950px) {
  header .button {
    display: block;
  }
  header .flexList {
    display: none;
  }
  header h1 {
    margin-left: 5%;
    margin-top: 0px;
  }
}
@media (max-width: 850px) {
  section.special .galleryFlex li {
    width: 100%;
  }
  section.progAndLoc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.progAndLoc .itemContainer {
    max-width: 100%;
    width: 100%;
  }
  section.progAndLoc .itemContainer .imgContainer {
    width: 90%;
    background-color: #F8FB05;
    margin: 0 auto;
  }
  section.progAndLoc .itemContainer .imgContainer img {
    width: 100%;
  }
  section.progAndLoc .itemContainer .textContainer {
    max-width: 90%;
    margin: 0 auto;
  }
  section.progAndLoc .itemContainer .textContainer.rightAlign {
    text-align: left;
  }
  section.progAndLoc .itemContainer.rightContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate(0px, -30px);
            transform: translate(0px, -30px);
  }
  section.blogPost .postWrapper .textContainer {
    padding: 60px 0;
    max-width: 90%;
    margin: 0 auto;
  }
  section.blogPost .allCommentsContainer {
    padding: 60px 5%;
    max-width: 100%;
    margin: 0 auto;
  }
  .blogMain aside {
    padding: 0 5%;
    max-width: 100%;
    margin: 0 auto;
  }
  .blogMain aside .textContainer {
    padding-right: 0;
  }
}
@media (max-width: 765px) {
  .contactMain .formContainer .formImput {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 700px) {
  section.discovering .wrapperFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section.discovering .imgContainer {
    display: none;
  }
  section.discovering .textContainer {
    max-width: 100%;
    width: 100%;
  }
  section.gallery .goneOnMobile {
    display: none;
  }
  section.gallery .galleryFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.gallery .galleryFlex li {
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
  }
  section.gallery .galleryFlex li:last-of-type {
    margin-bottom: 0;
  }
  section.gallery .galleryFlex li img {
    width: 100%;
  }
}
@media (max-width: 595px) {
  .formContainer .formImput {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 500px) {
  header h1 {
    font-size: 40px;
    line-height: 41px;
    margin-bottom: 40px;
  }
  section.blogPost .allCommentsContainer .commentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.blogPost .allCommentsContainer .commentContainer .textContainer {
    max-width: 100%;
  }
  .blogMain aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactMain .backBox {
    margin-right: 0;
  }
}
@media (max-width: 400px) {
  header h1 {
    font-size: 30px;
    line-height: 32px;
  }
  .blogMain aside .textContainer {
    padding-left: 0;
  }
}